.popover {
	display: none;
	position: absolute;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	padding: 0;
	list-style: none;
	width: 100%;
}

.locations:hover .popover,
.amenities:hover .popover {
	display: block;
}

.locations,
.amenities {
	position: relative;
}

.locations h2 {
	font-size: 16px;
	margin-top: 5px;
}

.locations ul,
.amenities ul {
	padding: 0;
	margin: 0;
}

.locations ul li,
.amenities ul li {
	padding: 10px;
	cursor: pointer;
}

.locations ul li:hover,
.amenities ul li:hover {
	background-color: #DDDDDD;
}

.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.locations,
.amenities {
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3 {
	font-weight: 600;
}

.locations h4,
.amenities h4 {
	font-weight: 400;
	font-size: 14px;
	margin-top: 5px;
}

.search-button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin-left: auto;
	margin-right: 30px;
	cursor: pointer;
}

.search-button:hover {
	opacity: 0.9;
}
